<h1>ABOUT ME</h1>

<p>
    Hello! My name is Zedd. I made this word count website 
    and I am proud to say that I was able to crush this 
    <a href="https://zeddrix.com/lesson-15-create-a-new-page-in-django/">challenge.</a>
    Let me tell you something about myself. I became one of Jehovah’s Witnesses 
    last February 21, 2016. I have a goal of being a volunteer at 
    <a href="https://www.jw.org/en/jehovahs-witnesses/activities/bethel/#?insight[search_id]=f516a630-8cc3-41ef-ae3c-8d46922f5520&insight[search_result_index]=0">
        Bethel.</a> 
    I started homeschooling this 2019 and I'm currently a Grade 11 student 
    (Well, at least when I created this word count website).
</p>

<p>
    And coding is one of my hobbies--I use Python and Django. 
    I even have some coding courses that can be accessed here 
    at <a href="https://zeddrix.com/">zeddrix.com</a>. 
    These programming languages may be hard to learn at first, 
    but once you get the hang of it with Zedd, it'll be fun, I promise! 
    I even made a 
    <a href="https://zeddrix.com/lesson-25-create-your-own-game-using-python/">game</a> 
    myself! I let my friends play this game. You should try playing it, too!
</p>

<a href="{% url 'home' %}">RETURN</a>